{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <style type="text/css">
		@media screen and (max-width: 600px) {
		    .adspace img.fullWidth {
		        display: none;
		    }
		}
		@media screen and (max-width: 400px) {
		    .alsoLike table td {
		        display: block;
		        width: 100%;
		        margin-bottom: 30px;
		    }
		}
    </style>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse !important;}
    </style>
    <![endif]-->
</head>
<body style="margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;background-color:#f0f0f0;color:#444444;-webkit-font-smoothing:antialiased;" >
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;" >
<div class="webkit" style="max-width:600px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;background:#F0F0F0;" >
<!--[if (gte mso 9)|(IE)]>
<table width="500" align="center" style="border-spacing:0;width:100%;" >
<tr>
<td style="text-align:center;vertical-align:top;" >
<![endif]-->
<table bgcolor="#ffffff" cellpadding="0" cellspacing="0" class="header" style="border-spacing:0;width:100%;max-width:500px;" >
	<tr>
		<td style="text-align:center;vertical-align:top;" ><img src="http://storage.pardot.com/27752/176796/header_stripes.gif" class="fullWidth" style="border-width:0;width:100%;max-width:520px;height:auto;display:block;"  /></td>
	</tr>
	<tr>
		<td height="50" style="text-align:center;"><img src="http://storage.pardot.com/27752/176802/socrative_logo_email.gif" alt="Socrative by MasteryConnect" style="border-width:0; width: 100px; height: auto;"  /></td>
	</tr>
	<tr>
		<td style="text-align:center;vertical-align:top;font-family:'Open Sans', Arial, sans-serif;font-size:14px;line-height:1.5;font-weight:100" align="center">
			<br />
			<div style="font-size: 24px; font-family:'Open Sans', Arial, sans-serif; color: #333333; height: 60px; font-weight: 200;">Welcome to Socrative <span style="font-weight:bold;">PRO!</span></div>
			<img src="https://s3.amazonaws.com/socimages.socrative.com/receipt/vector-smart-object.png" alt="Socrative PRO" />
			<div style="max-width: 230px; padding-top: 48px;margin: 0 auto; margin-bottom:40px;font-size: 14px; line-height: 19px;font-weight:bold;height:39px;">Thank You for going PRO!
                <div style="font-weight: normal"> Here is a receipt for your records.</div>
            </div>
            <div style="max-width: 420px; padding-top:29px;margin: 0 auto; font-size: 14px; line-height: 19px;height:74px;border-top: solid #f0f0f0 1px;">
                <span style="font-weight:bold;">Socrative, Inc.</span>
                <div>175 West 200 South, Suite 1000</div>
                <div>Salt Lake City, Utah 84101</div>
                <div>USA</div>
            </div>
			<div style="border-bottom: solid #f0f0f0 1px; max-width: 420px; margin-left: auto; margin-right: auto; padding: 25px 0 15px 0;">
				<div style="height: 30px; display: block; clear: both;">
					<span style="font-weight: bold; float: left;">Name</span>
					<span style="float: right;">{{ name }}</span>
				</div>
                <div style="height: 30px; display: block; clear: both;">
					<span style="font-weight: bold; float: left;">Organization</span>
					<span style="float: right;">{{ organization }}</span>
				</div>
                <div style="height: 30px; display: block; clear: both;">
					<span style="font-weight: bold; float: left;">Email</span>
					<span style="float: right;">{{ email }}</span>
				</div>
				<div style="height: 30px; display: block; clear: both;">
					<span style="font-weight: bold; float: left;">Amount</span>
					<span style="float: right;">{{ amount }}</span>
				</div>
                <div style="height: 30px; display: block; clear: both;">
					<span style="font-weight: bold; float: left;">Order Number</span>
					<span style="float: right;">SOC{{ receipt_id }}</span>
				</div>
				<div style="height: 30px; display: block; clear: both;">
					<span style="font-weight: bold; float: left;">Payment Method</span>
					<span style="float: right;">{{ card_type }} ( **** {{ last4 }} )</span>
				</div>
                <div style="height: 30px; display: block; clear: both;">
					<span style="font-weight: bold; float: left;">License Key</span>
					<span style="float: right;">{{ license_key }}</span>
				</div>
                <div style="height: 30px; display: block; clear: both;">
					<span style="font-weight: bold; float: left;">Subscription Length</span>
					<span style="float: right;">{% if years == 1 %} {% trans "1 year" %} {% else %} {{ years }} {% trans "years" %}{% endif %}</span>
				</div>
				<div style="height: 30px; display: block; clear: both;">
					<span style="font-weight: bold; float: left;">Expires</span>
					<span style="float: right;">{{ expiration_date }}</span>
				</div>
			</div>
			<br /><br />
		</td>
	</tr>
	<tr>
		<td colspan="3" bgcolor="#789AB3" style="height:5px;text-align:center;vertical-align:top;" ></td>
	</tr>
</table>



<table bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" class="footerInfo" style="border-spacing:0;width:100%;max-width:400px;font-size:11px;color:#666666;line-height:1.5;" >
	<tr>
		<td height="60" style="vertical-align:middle;text-align:center;" >
			<a href="http://eoaclk.com/iCCotI2Iaj/" target="_blank"><img src="http://storage.pardot.com/27752/176804/social_fb.gif" alt="Facebook" width="24" height="18" border="0" style="margin-right: 35px" /></a>
			<a href="http://eoaclk.com/lAJBWeF36o/" target="_blank"><img src="http://storage.pardot.com/27752/176810/social_twitter.gif" alt="Twitter" width="24" height="18" border="0" style="margin-right: 38px" /></a>
			<a href="http://eoaclk.com/n7kg0dzBfU/" target="_blank"><img src="http://storage.pardot.com/27752/176806/social_instagram.gif" alt="Instagram" width="24" height="18" border="0" style="margin-right: 32px" /></a>
			<a href="http://eoaclk.com/vB8sDFh9b6/" target="_blank"><img src="http://storage.pardot.com/27752/176808/social_pinterest.gif" alt="Pinterest" width="24" height="18" border="0" /></a>
		</td>
	</tr>
	<tr>
		<td height="1" bgcolor="#CCCCCC" style="text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td height="30" style="text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td style="text-align:center;vertical-align:top;font-family:'Open Sans', Arial, sans-serif;">
			<a href="http://eoaclk.com/BoRWMW9O52/" target="_blank" style="text-decoration:none;color:#444444;" >SOCRATIVE.COM</a>   |   <a href="http://eoaclk.com/ueKoe9TaZC/?lang=en-us" target="_blank" style="text-decoration:none;color:#444444;" >SUPPORT</a><br />
			Copyright &copy; 2016 MasteryConnect, Inc. All Rights Reserved<br />
			Socrative, Inc.<br />
            175 West 200 South, Suite 1000<br />
            Salt Lake City, UT 84101<br />
            USA<br />
			<a href="https://app.masteryconnect.com/Privacy" target="_blank" style="text-decoration:none;color:#444444;" >Privacy Policy</a>  |  <a href="https://www.socrative.com/terms.html" target="_blank" style="text-decoration:none;color:#444444;" >Terms &amp; Conditions</a>  |  <a href="http://eoaclk.com/L1ihq5DGb0/" target="_blank" style="text-decoration:none;color:#444444;" >Report a problem</a>
		</td>
	</tr>
	<tr>
		<td height="30" style="text-align:center;vertical-align:top;" ></td>
	</tr>
</table>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->
</div>
</center>
<style> #_eoa_div, #_eoa_img { display:none; } @media print{ #_eoa_div { background-image: url('https://lDo3HpB7qp.eoapxl.com/lDo3HpB7qp/P'); } } div.OutlookMessageHeader, table.moz-email-headers-table, blockquote #_eoa_div, #mailContainerBody #_eoa_div { background-image:url('https://lDo3HpB7qp.eoapxl.com/lDo3HpB7qp/F') } </style><div id="_eoa_div"></div><img id="_eoa_img" src="https://lDo3HpB7qp.eoapxl.com/lDo3HpB7qp/" style="height:1px !important;width:1px !important;border-width:0 !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;display:block;" alt="" title="" border="0" width="1" height="1" />
</body>
</html>