{% load i18n %}

{% trans "The user {{ display_name }} with the email address {{ email_address }} wants to share his quiz with you." %}<br>
{% trans "To import his quiz , please access the following url : " %} <a href="{{ url }}"> {{ url }} </a>.<br>
{% trans "Have a nice day," %}<br>
{% trans "The Socrative Team" %}