<!{% load i18n %}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse !important;}
    </style>
    <![endif]-->
</head>
<body style="margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-color:#ffffff;color:#555555;font-family:'Open Sans', Arial, sans-serif;font-size:14px;line-height:1.5;-webkit-font-smoothing:antialiased;" >

<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;" >
<div class="webkit" style="max-width:900px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;" >

<!--[if (gte mso 9)|(IE)]>
<table width="900" align="center" style="border-spacing:0;padding-left:150px;padding-right:150px;width:100%;" >
<tr>
<td style="padding-top:0;padding-bottom:0;text-align:center;vertical-align:top;" >
<![endif]-->
<table cellpadding="0" cellspacing="0" class="header" style="border-spacing:0;padding-left:150px; padding-right:150px;width:100%;max-width:900px;background-color: #ebebeb;" >
	<tbody style="background: white;">
    <tr>
		<td colspan="2" style="border-top: solid 8px #8db4d0;padding-left: 30px;padding-right:30px;"></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:center;height:124px;background-color:#f9f9f9;padding-left: 30px;padding-right:30px;vertical-align: middle;border-bottom: solid 1px #cccccc;"><img height="55" src="https://uploads.socrative.com/09e6ac47-2d80-456c-8135-feddf2775703" alt="Socrative by MasteryConnect" style="border-width:0;" ></td>
	</tr>
	<tr>
		<td colspan="2" height="27"></td>
	</tr>
	<tr>
		<td colspan="2" style="padding-top:0;padding-bottom:0;padding-left: 30px;padding-right:30px;text-align:center;vertical-align:top;" >
			<p class="h1" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:32px;font-family: 'Open Sans',sans-serif;" >{% trans 'Thank you' %}</p>
			<p class="h1" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:20px;font-family: 'Open Sans',sans-serif;">{% trans "for purchasing a " %}<span style="font-weight: 600;">Socrative PRO</span>{% trans " license" %}</p>
		</td>
	</tr>
    </tbody>
</table>
    <table cellpadding="0" cellspacing="0" class="header" style="border-spacing:0;padding-left:150px; padding-right:150px;width:100%;max-width:900px;background-color: #ebebeb;">
        <tbody style="background: white;">
	<tr style="height: 30px;overflow: visible;">
        <td style="padding-left: 30px;text-align:center;padding-top:20px;">
            <div style="border-top:solid 1px #cccccc; width:100%;"></div></td>
		<td style="text-align:center;width:120px;">
            <img src="https://uploads.socrative.com/704d627e-6b26-4635-8988-d99cfb4b5841" style="border-width:0;background-color: #ffffff;width:120px;" >
        </td>
        <td style="padding-right:30px;text-align:center;padding-top:20px;">
            <div style="border-top:solid 1px #cccccc; width:100%;"></div></td>
	</tr>
    </tbody>
</table>
    <table cellpadding="0" cellspacing="0" class="header" style="border-spacing:0;padding-left:150px; padding-right:150px;width:100%;max-width:900px;background-color: #ebebeb;" >
        <tbody style="background: white;">
        <tr>
		<td colspan="2" style="text-align: left;height:28px;padding-left: 30px;padding-right:30px;">
            <p class="h3" style="top:28px;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:bold;font-size:14px;font-family: 'Open Sans';">{% trans "LICENSE INFORMATION" %}</p>
        </td>
	</tr>
    </tbody>
</table>
    <table cellpadding="0" cellspacing="0" class="header" style="border-spacing:0;padding-left:150px; padding-right:150px;width:100%;max-width:900px;background-color: #ebebeb;" >
        <tbody style="background: white;">
    <tr>
		<td style="text-align: left;height:35px;padding-left: 30px;vertical-align: middle;">
            <p class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:600;font-size:14px;font-family: 'Open Sans';">{% trans "Purchaser Name" %}</p>
        </td>
        <td style="text-align: right;height:35px;padding-right:30px;vertical-align: middle;">
            <p class="h3" style="vertical-align: middle; margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';">{{ name }}</p>
        </td>
	</tr>
    <tr>
		<td style="text-align: left;height:35px;padding-left: 30px;vertical-align: middle;">
            <p class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:600;font-size:14px;font-family: 'Open Sans';">{% trans "License Key" %}</p>
        </td>
        <td style="text-align: right;height:35px;padding-right:30px;">
            <p class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';">{{ license_key }}</p>
        </td>
	</tr>
	<tr>
		<td style="text-align: left;height:35px;padding-left: 30px;vertical-align: middle;">
            <p class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:600;font-size:14px;font-family: 'Open Sans';">{% trans "Seats (Teacher Accounts)" %}</p>
        </td>
        <td style="text-align: right;height:35px;padding-right:30px;vertical-align: middle;">
            <p class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';">{{ seats }}</p>
        </td>
	</tr>
    <tr>
		<td style="text-align: left;height:35px;padding-left: 30px;vertical-align: middle;">
            <p class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:600;font-size:14px;font-family: 'Open Sans';">{% trans "Expires" %}</p>
        </td>
        <td style="text-align: right;height:35px;padding-right: 30px;vertical-align: middle;">
            <p class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';">{{ expiration_date }}</p>
        </td>
	</tr>
    <tr>
        <td colspan="2" height="30" style="padding-left: 30px;padding-right: 30px;">
        <div style="position:relative;top:10px;border-top:solid 1px #cccccc; width:100%;"></div>
    </td>
    </tr>
    </tbody></table>
    <table cellpadding="0" cellspacing="0" class="header" style="border-spacing:0;padding-left:150px; padding-right:150px;width:100%;max-width:900px;background-color: #ebebeb;" >
        <tbody style="background: white;">
	<tr>
		<td colspan="2" height="46"></td>
	</tr>
    <tr>
		<td colspan="2" style="padding-top:0;padding-bottom:0;text-align:center;vertical-align:top;padding-left: 30px;padding-right: 30px;" >
			<p class="h1" style="padding-left:20px;padding-right: 20px;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:20px;font-family: 'Open Sans';">{% trans "Your license " %}<span style="font-weight: 600;"> {% trans " has more than one seat." %}</span>&nbsp;{% trans "Teachers can use the steps below to activate " %}<span style="font-weight: 600;">Socrative PRO</span>.</p>
		</td>
	</tr>
    <tr><td height="30" colspan="2"></td></tr>
	<tr>
		<td colspan="2" style="text-align: left;height:28px;padding-left: 30px;padding-right: 30px;">
            <p class="h3" style="top:28px;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:bold;font-size:14px;font-family: 'Open Sans';">{% trans "EXISTING USERS" %}</p>
        </td>
	</tr>
    <tr><td colspan="2" height="18" style="padding-left: 30px;padding-right: 30px;"></td> </tr>
    <tr>
		<td style="text-align: left;height:35px; padding-left: 30px;padding-right: 8px;">
            <img style="vertical-align: middle;" src="https://uploads.socrative.com/5f174879-3133-4b4b-8b26-ecf4329a6f2f" />
        </td>
        <td style="text-align: left;height:35px; vertical-align: middle;padding-right: 30px;">
            <span class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';">
                <a style="color:#7899b2;" href="https://b.socrative.com/login/teacher/">{% trans "Login" %}</a>
                {% trans "to their " %} </span><span style="font-weight: 600;">{% trans "existing account" %}</span>{% trans ", go to " %}<span style="font-weight: 600">{% trans "profile" %} </span><span> {% trans " via the menu in the top right" %}</span>
        </td>
	</tr>

	<tr><td colspan="2" height="10"></td> </tr>
    <tr>
		<td style="text-align: left;height:35px; padding-right: 8px;padding-left: 30px;">
            <img style="vertical-align: middle;" src="https://uploads.socrative.com/2783f6f8-fff2-4cc6-a40d-a11e38d58a12" />
        </td>
        <td style="text-align: left;height:35px; vertical-align: middle;padding-right: 30px;">
            <span class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';">{% trans "From the " %} <span style="font-weight: 600;">{% trans "Account tab" %}</span> {% trans ", click the orange " %}<span style="font-weight:600;">&quot;{% trans "Renew"%}&quot;&nbsp;{% trans "or" %}&nbsp;&quot;{% trans "Upgrade" %}&quot;&nbsp;{% trans "button" %}</span> </span>
        </td>
	</tr>
    <tr><td colspan="2" height="10" style="padding-left: 30px;padding-right: 30px;"></td> </tr>
    <tr>
		<td style="text-align: left;height:35px; padding-left:30px;padding-right:8px;">
            <img style="vertical-align: middle;" src="https://uploads.socrative.com/4558323d-5ffd-4da9-b14b-8c33e94e1584" />
        </td>
        <td style="text-align: left;height:35px; vertical-align: middle;padding-right:30px;">
            <span class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';">{% trans "Click the link for " %} <span style="font-weight:600;">&quot;{% trans "Enter License Key" %}&quot;</span></span>
        </td>
	</tr>
    <tr><td colspan="2" height="10"></td> </tr>
    <tr>
		<td style="text-align: left;height:35px; padding-left: 30px;padding-right: 8px;">
            <img style="vertical-align: middle;" src="https://uploads.socrative.com/660eb74b-a461-4b93-8067-52f246948daa" />
        </td>
        <td style="text-align: left;height:35px; vertical-align: middle;padding-right: 30px;">
            <span class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';">{% trans "Enter the " %} <span style="font-weight: 600;">{% trans "license key" %}</span> {% trans "into the popup, and Click " %}<span style="font-weight: 600;">&quot;{% trans "Activate" %}&quot;</span> </span>
        </td>
	</tr>

    <tr><td height="42" colspan="2"></td></tr>
	<tr>
		<td colspan="2" style="text-align: left;height:28px;padding-left: 30px;padding-right: 30px;">
            <p class="h3" style="top:28px;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:bold;font-size:14px;font-family: 'Open Sans';">{% trans "NEW USERS" %}</p>
        </td>
	</tr>
    <tr><td colspan="2" height="14"></td> </tr>
    <tr>
		<td style="text-align: left;height:35px; padding-left: 30px;padding-right: 8px;">
            <img style="vertical-align: middle;" src="https://uploads.socrative.com/5f174879-3133-4b4b-8b26-ecf4329a6f2f" />
        </td>
        <td style="text-align: left;height:35px; vertical-align: middle;padding-right: 30px;padding-left: 5px;">
            <span class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';"><a style="color:#7899b2;" href="https://b.socrative.com/login/teacher/">{% trans "Go here" %}</a> {% trans ", click " %} <span style="font-weight: 600;">&quot;{% trans "Create Account" %}&quot;</span>{% trans ", then complete registration" %}</span>
        </td>
	</tr>

	<tr><td colspan="2" height="10"></td> </tr>
    <tr>
		<td style="text-align: left;height:35px;padding-left: 30px;padding-right:8px;">
            <img style="vertical-align: middle;" src="https://uploads.socrative.com/2783f6f8-fff2-4cc6-a40d-a11e38d58a12" />
        </td>
        <td style="text-align: left;height:35px;padding-right: 30px;">
            <span class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';">{% trans "On step 3 of registration, " %}<span style="font-weight: 600;">{% trans "select" %} &nbsp;&quot;PRO&quot;</span>&nbsp;{% trans "account type" %} </span>
        </td>
	</tr>
    <tr><td colspan="2" height="10" style="padding-left: 30px;padding-right: 30px;"></td> </tr>
    <tr>
		<td style="text-align: left;height:35px; vertical-align: middle;padding-left: 30px;padding-right: 8px;">
            <img style="vertical-align: middle;" src="https://uploads.socrative.com/4558323d-5ffd-4da9-b14b-8c33e94e1584" />
        </td>
        <td style="text-align: left;height:35px; vertical-align: middle;padding-right: 30px;">
            <span class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';">{% trans "Click the link for " %} <span style="font-weight: 600;">&quot;{% trans "Enter License Key" %}&quot;</span></span>
        </td>
	</tr>
    <tr><td colspan="2" height="10"></td> </tr>
    <tr>
		<td style="text-align: left;height:35px; vertical-align: middle;padding-left: 30px;padding-right: 8px;">
            <img style="vertical-align: middle;" src="https://uploads.socrative.com/660eb74b-a461-4b93-8067-52f246948daa" />
        </td>
        <td style="text-align: left;height:35px; vertical-align: middle;padding-right: 30px;">
            <span class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';">{% trans "Enter the " %} <span style="font-weight:600;">{% trans "license key" %}</span> {% trans "into the popup, and Click " %}<span style="font-weight: 600;">&quot;{% trans "Activate" %}&quot;</span> </span>
        </td>
	</tr>
    <tr><td colspan="2" style="padding-left:30px;padding-right:30px;"><div style="height:40px;border-bottom: solid 1px #cccccc;"></div></td></tr>

    <tr><td colspan="2" height="40"></td> </tr>
    <tr>
		<td colspan="2" style="padding-top:0;padding-bottom:0;text-align:center;vertical-align:top;padding-left: 30px;padding-right: 30px;" >
			<p class="h1" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:20px;font-family: Open Sans;">{% trans "Make the most of " %}<span style="font-weight: 600;">Socrative PRO</span></p>
		</td>
	</tr>

    <tr><td height="30" colspan="2"></td></tr>
	<tr>
		<td colspan="2" style="text-align: left;height:28px;padding-left: 30px;padding-right: 30px;">
            <p class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:bold;font-size:14px;">{% trans "COMMON HELP ARTICLES" %}</p>
        </td>
	</tr>
    <tr><td colspan="2" height="15"></td> </tr>
    </tbody>
</table>
    <table cellpadding="0" cellspacing="0" class="header" style="border-spacing:0;padding-left:150px; padding-right:150px;width:100%;max-width:900px;background-color: #ebebeb;">
        <tbody style="background: white;">
    <tr>
		<td style="text-align: left;height:50px; vertical-align: middle;width:50%;padding-left: 30px;">
            <img style="vertical-align: middle" src="https://uploads.socrative.com/a0cb0e32-6792-4a95-8135-6f1f62b33eaf" />
            <span class="h3" style="padding-left:7px;vertical-align: middle;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';"><a style="color:#7899b2;font-family:'Open Sans';font-size:14px;" href="https://help.socrative.com/hc/en-us/articles/219985468-Socrative-Requirements">{% trans "Socrative Requirements" %}</a></span>
        </td>
        <td style="text-align: left;height:50px; vertical-align: middle;width:50%;padding-left:30px;padding-right: 30px;">
            <img style="vertical-align: middle" src="https://uploads.socrative.com/5e4b6667-0cd7-4f75-a98b-b5b9c92d9c9d" />
            <span class="h3" style="padding-left:7px;vertical-align: middle;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';"><a style="color:#7899b2;font-family:'Open Sans';font-size:14px;" href="https://help.socrative.com/hc/en-us/articles/115000405273-Receipts">{% trans "How to Retrieve a Receipt" %}</a></span>
        </td>
	</tr>
    <tr>
		<td style="text-align: left;height:50px; vertical-align: middle;width:50%;padding-left: 30px;">
            <img style="vertical-align: middle" src="https://uploads.socrative.com/67f0fbbd-d816-4623-b77f-e1015b13330f" />
            <span class="h3" style="padding-left:7px;vertical-align:middle;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';"><a style="color:#7899b2;font-family:'Open Sans';font-size:14px;" href="https://help.socrative.com/hc/en-us/sections/204342228-Public-and-Private-Rooms">{% trans "Multiple Rooms" %}</a></span>
        </td>
        <td style="text-align: left;height:50px; vertical-align: middle;width:50%;padding-left:30px;padding-right: 30px;">
            <img style="vertical-align: middle" src="https://uploads.socrative.com/d7b5be46-86da-4a87-8e25-187bd6049b04" />
            <span class="h3" style="padding-left:7px;vertical-align:middle;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';"><a style="color:#7899b2;font-family:'Open Sans';font-size:14px;" href="https://help.socrative.com/hc/en-us/sections/115000492654--Folders">{% trans "Folders" %}</a></span>
        </td>
	</tr>
    <tr>
		<td style="text-align: left;height:50px; vertical-align: middle;width:50%;padding-left: 30px;">
            <img style="vertical-align: middle" src="https://uploads.socrative.com/d485cc0c-4624-4619-afd8-43db08d4aeda" />
            <span class="h3" style="padding-left:7px;vertical-align:middle;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';"><a style="color:#7899b2;font-family:'Open Sans';font-size:14px;" href="https://help.socrative.com/hc/en-us/articles/221023127--Add-a-Roster-Manually">{% trans "Rosters" %}</a></span>
        </td>
        <td style="text-align: left;height:50px; vertical-align: middle;width:50%;padding-left:30px;padding-right: 30px;">
            <img style="vertical-align: middle" src="https://uploads.socrative.com/8ba23b7d-b48e-4bee-984d-9700584d4f5e" />
            <span class="h3" style="padding-left:7px;vertical-align:middle;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';"><a style="color:#7899b2;font-family:'Open Sans';font-size:14px;" href="https://help.socrative.com/hc/en-us/articles/115001056293--How-to-Limit-Quiz-Attempts">{% trans "One Attempt" %}</a></span>
        </td>
	</tr>

    <tr>
		<td style="text-align: left;height:50px; vertical-align: middle;width:50%;padding-left: 30px;">
            <img style="vertical-align: middle" src="https://uploads.socrative.com/1f3e26f2-8578-45df-a832-5ba695abff92" />
            <span class="h3" style="padding-left:7px;vertical-align:middle;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';"><a style="color:#7899b2;font-family:'Open Sans';font-size:14px;" href="https://help.socrative.com/hc/en-us/articles/220685067--Student-Login-Private-Room-">{% trans "Student Login for Rostered Rooms" %}</a></span>
        </td>
        <td style="text-align: left;height:50px; vertical-align: middle;width:50%;padding-left:30px;padding-right: 30px;">
            <img style="vertical-align: middle" src="https://uploads.socrative.com/63ee04c8-e11c-4116-8c0b-f3fb73e6a8f3" />
            <span class="h3" style="padding-left:7px;vertical-align:middle;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#555555;font-weight:300;font-size:14px;font-family: 'Open Sans';"><a style="color:#7899b2;font-family:'Open Sans';font-size:14px;" href="https://help.socrative.com/hc/en-us">{% trans "More Help Articles..." %}</a></span>
        </td>
	</tr>

    <tr><td colspan="2" height="44" style="border-bottom: solid 4px #8db4d0;padding-left: 30px;padding-right: 30px;"></td> </tr>

    <tr><td colspan="2" height="30" style="background-color: #ebebeb;"></td></tr>
    <tr>
        <td colspan="2" height="30" style="background-color: #ebebeb;text-align: center;vertical-align: middle;padding-left: 30px;padding-right: 30px;">
            <a style="padding-left: 20px;padding-right: 25px;" href="https://www.facebook.com/Socrative"><img src="https://uploads.socrative.com/a4a8a04e-901d-4415-91a1-d63a1555a481" alt=""/></a>
            <a style="padding-left: 20px;padding-right: 25px;" href="https://twitter.com/socrative"><img height="18" src="https://uploads.socrative.com/99ddbab7-ac9b-42fa-9679-316624df2d7b" alt=""/></a>
            <a style="padding-left: 20px;padding-right: 25px;" href="https://www.instagram.com/socrativeapp/"><img src="https://uploads.socrative.com/110d35ba-deea-48dc-947d-abba285ebae7" alt=""/></a>
            <a style="padding-left: 20px;padding-right: 25px;" href="https://www.pinterest.com/socrative/"><img src="https://uploads.socrative.com/8c3112bd-2d8c-4691-a93e-254d24c05bc6" alt=""/></a>
        </td>
    </tr>

    <tr><td colspan="2" height="30" style="background-color: #ebebeb;padding-left: 30px;padding-right: 30px;"></td></tr>
    <tr>
        <td colspan="2" height="30" style="background-color: #ebebeb;text-align: center;vertical-align: middle;padding-left: 30px;padding-right: 30px;color:#7899b2;">
            <a style="color:#7899b2;text-decoration:None;font-family: 'Open Sans';font-size:12px;" href="https://socrative.com">SOCRATIVE.COM</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a style="color:#7899b2;text-decoration:None;font-family: 'Open Sans';font-size: 12px;" href="https://help.socrative.com/hc/en-us">SUPPORT</a>
        </td>
    </tr>
    <tr style="background: #ebebeb;">
        <td colspan="2" height="20px" style="text-align:center;background: #ebebeb;padding-left: 30px;padding-right: 30px;">
        <p style="font-family: 'Open Sans',sans-serif;font-size:12px;margin:8px 0;line-height: 16px;">Copyright © 2017 MasteryConnect, Inc. All Rights Reserved<br>
        Socrative, Inc. 175 West 200 South, Suite 1000, Salt Lake City, UT 84101
        </p>
        </td>
    </tr>
    <tr style="background: #ebebeb;">
        <td colspan="2" height="30" style="background-color: #ebebeb;text-align: center;vertical-align: middle;padding-left: 30px;padding-right: 30px;color:#7899b2;">
            <a style="color:#7899b2;text-decoration:None;font-family: 'Open Sans';font-size:12px;" href="https://app.masteryconnect.com/Privacy">{% trans "Privacy Policy" %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a style="color:#7899b2;text-decoration:None;font-family: 'Open Sans';font-size:12px;" href="https://socrative.com/terms.html">{% trans "Terms & Conditions" %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a style="color:#7899b2;text-decoration:None;font-family: 'Open Sans';font-size:12px;" href="https://help.socrative.com/hc/en-us/articles/222970327--Create-a-Support-Ticket">{% trans "Report a Problem" %}</a>
        </td>
    </tr>
    <tr><td colspan="2" height="50" style="background-color: #ebebeb;padding-left: 30px;padding-right: 30px"></td> </tr>
    </tbody>
</table>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->


</div>
</center>

</body>
</html>