{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style type="text/css">

		@media screen and (max-width: 520px) {
		    .adspace img.fullWidth {
		        display: none;
		    }
		}

		@media screen and (max-width: 400px) {
		    .alsoLike table td {
		        display: block;
		        width: 100%;
		        margin-bottom: 30px;
		    }

		}

    </style>

    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse !important;}
    </style>
    <![endif]-->
</head>
<body style="margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-color:#f0f0f0;color:#444444;font-family:'Open Sans', Arial, sans-serif;font-size:14px;line-height:1.5;-webkit-font-smoothing:antialiased;" >

<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;" >
<div class="webkit" style="max-width:520px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;" >

<!--[if (gte mso 9)|(IE)]>
<table width="520" align="center" style="border-spacing:0;width:100%;" >
<tr>
<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" >
<![endif]-->
<table bgcolor="#ffffff" cellpadding="0" cellspacing="0" class="header" style="border-spacing:0;width:100%;max-width:500px;" >
	<tr>
		<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ><img src="https://uploads.socrative.com/6e5cc2fe-b498-45a8-81fd-2efb5095a982" class="fullWidth" style="border-width:0;width:100%;max-width:520px;height:auto;display:block;" ></td>
	</tr>
	<tr>
		<td height="10" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ><img src="https://uploads.socrative.com/904a7bdf-fdf1-4380-8fcd-74f1d125154a" alt="Socrative by MasteryConnect" style="border-width:0;" ></td>
	</tr>
	<tr>
		<td height="40" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" >
			<p class="h1" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#444444;font-weight:100;font-size:24px;" >{% trans 'Welcome to Socrative!' %}</p>
			<p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#444444;" >{% trans "We are happy to have you in the community.<br> Like you, we think it's important to visualize student understanding. That's why we've developed an easy-to-use tool for building assessments and seeing results in real-time. It's everything you need to improve instruction and help student learning." %}</p>
		</td>
	</tr>
	<tr>
		<td height="60" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
</table>



<table bgcolor="#789AB3" cellpadding="0" cellspacing="0" class="adspace" style="border-spacing:0;width:100%;max-width:520px;" >
	<tr>
		<td height="40" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ><img src="https://uploads.socrative.com/ef1884c1-6fa4-4e81-982c-7182a86ee609" class="Premium Logo" style="border-width:0;" ></td>
	</tr>
	<tr>
		<td height="10" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" >`
			<table style="border-spacing:0;width:100%;" >
				<tr>
					<td width="16%" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
					<td width="66%" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" >
						<p class="h2" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;font-weight:600;font-size:18px;color:#ffffff;" >{% trans 'Socrative PRO is Live!' %}</p>
						<p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#ffffff;" >{% trans "New premium features are now available." %}</p>
					</td>
					<td width="16%" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
				</tr>
			</table>
		</td>
		<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td height="20" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" >
<div><!--[if mso]>
  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ url }}"  arcsize="50%" strokecolor="#ffffff" fillcolor="#789AB3" style="height:40px;v-text-anchor:middle;width:230px;" >
    <w:anchorlock/>
    <center style="color:#ffffff;font-family:sans-serif;font-size:14px;font-weight:bold;" >{% trans 'KEEP ME IN THE LOOP' %}</center>
  </v:roundrect>
<![endif]--><a href="{{ url }}" class="btn-primary" style="-webkit-text-size-adjust:none;mso-hide:all;text-decoration:none;display:inline-block;color:#ffffff;text-transform:uppercase;font-weight:600;letter-spacing:.05em;border-width:1px;border-style:solid;border-color:#ffffff;line-height:40px;border-radius:20px;padding-top:0;padding-bottom:0;padding-right:32px;padding-left:32px;" >{% trans 'LEARN MORE' %}</a></div>
		</td>
	</tr>
	<tr>
		<td height="40" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td bgcolor="#f0f0f0" style="mso-hide:all;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" >
			<img src="https://uploads.socrative.com/18d8547d-c90b-472b-bec4-47bab1dea55e" class="fullWidth" style="border-width:0;width:100%;max-width:520px;height:auto;display:block;" />
		</td>
	</tr>
</table>



<table bgcolor="#ffffff" cellpadding="0" cellspacing="0" class="alsoLike" style="border-spacing:0;width:100%;max-width:500px;" >
	<tr>
		<td height="30" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" >
			<p class="h3" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#444444;word-break:break-word;font-weight:400;font-size:16px;" >{% trans 'You May Also Like...' %}</p>
		</td>
	</tr>
	<tr>
		<td height="30" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" >
			<table cellpadding="0" cellspacing="0" style="border-spacing:0;width:100%;" >
				<tr>
					<td width="100%" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" >
						<a href="https://help.socrative.com/hc/en-us" style="text-decoration:none;color:#444444;" >
							<img src="https://uploads.socrative.com/ffd4b22a-1e66-4665-ae5f-85441e26e3e1" style="border-width:0;" >
							<br />
							<p class="h4" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#444444;word-break:break-word;font-weight:600;font-size:14px;" >{% trans 'Help Center' %}</p>
							<p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#444444;font-size:12px;word-break:break-word;" >{% trans 'Articles, step by steps</br> & screenshots' %}</p>
						</a>
					</td>
                    <!--
					<td width="50%" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" >
						<a href="http://www.socrative.com/garden/" target="_blank" style="text-decoration:none;color:#444444;" >
							<img src="https://uploads.socrative.com/468ec154-ff30-449d-9739-ba969e9bb818" style="border-width:0;" >
							<br />
							<p class="h4" style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#444444;word-break:break-word;font-weight:600;font-size:14px;" >{% trans 'Our Blog' %}</p>
							<p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;color:#444444;font-size:12px;word-break:break-word;" >{% trans 'Tips, articles,<br />ideas &amp; more' %}</p>
						</a>
					</td>
					-->
				</tr>
			</table>
		</td>
	<tr>
		<td height="30" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td colspan="3" bgcolor="#789AB3" style="height:5px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>

</table>



<table bgcolor="#F0F0F0" cellpadding="0" cellspacing="0" class="footerInfo" style="border-spacing:0;width:100%;max-width:400px;font-size:11px;color:#666666;line-height:1.5;" >
	<tr>
		<td height="60" style="vertical-align:middle;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;" >
			<img src="https://uploads.socrative.com/8b573aa0-c626-47a2-bd6d-47198760a2dc" alt="Follow Us on Facebook, Twitter, Instagram, and Pinterest" style="border-width:0;" >
		</td>
	</tr>
	<tr>
		<td height="1" bgcolor="#CCCCCC" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td height="30" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
	<tr>
		<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" >
			<a href="http://socrative.com" target="_blank" style="text-decoration:none;color:#444444;" >SOCRATIVE.COM</a>   |   <a href="https://help.socrative.com/hc/en-us" target="_blank" style="text-decoration:none;color:#444444;" >{% trans 'SUPPORT' %}</a><br />
			{% trans 'Copyright &copy; 2016 MasteryConnect, Inc. All Rights Reserved' %}<br />
			Socrative, Inc.<br />
            175 West 200 South, Suite 1000<br />
            Salt Lake City, UT 84101<br />
            USA<br />
			<a href="https://app.masteryconnect.com/Privacy" target="_blank" style="text-decoration:none;color:#444444;" >{% trans 'Privacy Policy' %}</a>  |  <a href="https://www.socrative.com/terms.html" target="_blank" style="text-decoration:none;color:#444444;" >{% trans 'Terms &amp; Conditions' %}</a>  |  <a href="https://help.socrative.com/hc/en-us" target="_blank" style="text-decoration:none;color:#444444;" >{% trans 'Report a problem' %}</a>
		</td>
	</tr>
	<tr>
		<td height="30" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;vertical-align:top;" ></td>
	</tr>
</table>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->


</div>
</center>

</body>
</html>